<div class="d-flex flex-column min-vh-100 bg-dark text-white">
    <!-- Navigation Bar -->
    <app-navigation-bar></app-navigation-bar>
    <!-- End of Navigation Bar -->

    <!-- Main Container -->
    <div class="container flex-grow-1 d-flex flex-column align-items-center">
        <!-- Search Form -->
        <div class="mb-4 w-100 search-wrapper" style="max-width: 500px;">
            <h2 class="text-white text-center wavvy-wallet-title">AI Search</h2>
            <p class="text-center text-muted">Discover AI-Driven Tags and Categories</p>
            <form (submit)="onSearch()">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter business name" [(ngModel)]="businessName"
                        name="businessName" required>
                    <button [disabled]="isLoading" class="btn btn-primary login-btn" type="submit">
                        {{isLoading?'Searching...':'Search'}}</button>
                </div>
            </form>
        </div>

        <div *ngIf="id" class="card text-white bg-dark mb-3 w-100">
            <sistch-tables-single-view (setInstance)="setIntance($event)" instanceUrl="api/v1/tagging-rules" [id]="id">

                <app-myform [extraFields]="extra_fields" [formItems]="formItems" [url]="url"
                    (onValidatedData)="onValidatedData($event)" [submitButtonText]="'Changes'"
                    [formGroupOrder]="formGroupOrder" [hideButtons]=false [instance]="instance"
                    (onPostedData)="onPostedData($event)">
                </app-myform>
            </sistch-tables-single-view>
        </div>
    </div>
</div>