/* General Styles */
.bg-dark {
    background-color: #212529;
    color: white;
}

.min-vh-100 {
    min-height: 100vh;
}

/* Logo Styles */
.search-page-logo {
    width: 100px;
    height: 100px;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

/* Form and Card Styles */
.form-control {
    background-color: #333;
    color: white;
    border: 1px solid #555;
}

.form-control:focus {
    background-color: #444;
    border-color: #376C50;
    box-shadow: none;
}

.btn-primary {
    background-color: #376C50;
    border: none;
}

.btn-success {
    background-color: #376C50;
    border: none;
}

.card {
    background-color: #333;
    border: 1px solid #444;
}

.card-title {
    color: #376C50;
    font-weight: 600;
}

.form-select {
    background-color: #333;
    color: white;
    border: 1px solid #555;
}

.wavvy-wallet-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.login-btn {
    background-color: #376C50;
}

.login-btn i {
    margin-right: 5px;

    @media (min-width: 768px) {
        margin-right: 8px;
    }
}

.search-wrapper {
    margin-top: 100px;
}

::ng-deep .page-form {
    background-color: transparent !important;
    margin-top: 0px !important;
    padding: 0px !important;
}

.search-page-wrapper {
    padding-top: 1rem;
}

::ng-deep .result {
    background-color: transparent !important;
    margin-top: 0px !important;
    padding: 0px !important;
}

::ng-deep .multiselect-input {
    background-color: #333 !important;
    color: white !important;
    border: 1px solid #555 !important;
    font-size: 1rem !important;
}

.tagging-rules-text {
    font-size: 1.5rem;
    text-align: center;
}

.tagging-rules-sub-text {
    margin-bottom: 2rem;
}