.bg-dark {
    background-color: #212529;
    color: white;
}

.min-vh-100 {
    min-height: 100vh;
}

.wavvy-wallet-logo-login {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.form-floating {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-floating>.form-control {
    padding: 1rem 0.75rem;
    height: auto;
    background: #333;
    color: white;
    border: 1px solid #555;
}

.form-floating>label {
    color: #aaa;
}

.form-control:focus {
    background: #444;
    border-color: #4caf50;
    box-shadow: none;
    color: white;
}

.login-btn {
    background-color: #376C50;
    color: white;
    border: none;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #314A3E;
}

.text-primary {
    color: rgb(80, 189, 84) !important;
}

.text-white {
    color: white !important;
}

::ng-deep .card {
    background-color: transparent !important;
    border: none !important;
    width: 25vw !important;
}